@model QuizOne.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
    }

    .login-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="login-container">
    <div class="col-md-4 login-form">
        <h2>@ViewData["Title"]</h2>
        <hr />

        <form asp-action="Login" method="post">
            <div class="form-outline mb-4">
                <input asp-for="Email" id="email" class="form-control" />
                <label class="form-label" for="email">Email address</label>
            </div>

            <div class="form-outline mb-4">
                <input asp-for="Password" type="password" id="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
            </div>

            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input" id="rem" checked />
                        <label class="form-check-label" for="rem"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    <a onclick="alert('This not added Yet! sorry ;) I don\'t know How to send emails! 🥲' )" style="color: blue; cursor: pointer;">Forgot
                        password?</a>
                </div>
            </div>


            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                <p>Not a member? <a asp-controller="Account" asp-action="Register">Register</a></p>
                <p>or sign up with:</p>
            </div>
        </form>
    </div>
</div>
