@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
        <div class="text-center mb-4 background-image">
            <h1 class="display-4 text-black">Welcome to QuizOne</h1>
            <p class="lead text-black ">The Ultimate Quiz Platform to Test and Challenge Your Knowledge</p>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Create Quizzes</h5>
                        <p class="card-text">Easily create quizzes on various topics with our user-friendly quiz builder.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Take Quizzes</h5>
                        <p class="card-text">Explore a wide range of quizzes created by others and test your knowledge.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Compete on Leaderboards</h5>
                        <p class="card-text">Challenge yourself and climb the leaderboards by participating in quizzes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Explore Quiz Categories</h5>
                        <p class="card-text">Browse quizzes by categories and find quizzes that interest you the most.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>