@{
    ViewData["Title"] = "Home";
}

<div class="">
    <div class="mb-4 background-image flex-container">
        <h1 class="display-4 text-black mainTextHeading">Welcome to QuizOne</h1>
        <p class="lead">The Ultimate Quiz Platform to Test and Challenge Your Knowledge</p>
    </div>

    <div class="customCard odd">
        <img src="/Images/createQuiz.jpg" alt="Image" width="400" height="400" style="">
        <div class="text">
            <h2>Create Quizzes</h2>
            <p>
                Easily create quizzes on various topics with our user-friendly quiz builder.
            </p>
            <a class="big-button" asp-controller="Quiz" asp-action="Index">Create Quiz</a>
        </div>
    </div>
    <hr>

    <div class="customCard even">
        <div class="text">
            <h2>Take Quizzes</h2>
            <p>
                Explore a wide range of quizzes created by others and test your knowledge.
            </p>
            <a class="big-button" asp-controller="Quiz" asp-action="Index">
                Take Quizees
            </a>
        </div>
        <img src="/Images/takeQuiz.jpg" alt="Image" width="400" height="400" style="">
    </div>
    <hr>

    <div class="customCard odd">
        <img src="/Images/leaderboard.png" alt="Image" width="400" height="400" style="">
        <div class="text">
            <h2>Compete on Leaderboards</h2>
            <p>
                Challenge yourself and climb the leaderboards by participating in quizzes.
            </p>
            <a class="big-button" asp-controller="Quiz" asp-action="Index">
                View Leaderboard
            </a>
        </div>
    </div>
    <hr>
    <div class="customCard even">
        <div class="text">
            <h2>Explore Quiz</h2>
            <p>
                Browse quizzes by categories and find quizzes that interest you the most.
            </p>
            <a class="big-button" asp-controller="Quiz" asp-action="Index">
                Explore Quizees
            </a>
        </div>
        <img src="/Images/explore.jpg" alt="Image" width="400" height="400" style="">
    </div>

</div>