@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 14px;
  margin: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.background-image {
  background-image: url('/Images/HomePage.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 120px;
  color: #d736ff;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.mainTextHeading {
  font-weight: 800;
  font-size: 80px;
  font-family: "Bungee Spice";
}

.lead {
  font-size: 30px;
  font-weight: 400;
  color: black;
}

.customCard {
  display: flex;
  margin: 0 5% 2% 10%;
  padding: 20px;


  transition: opacity 1s ease, transform 1s ease;


}

.even {
  border: 2px solid beige;
  transform: translateX(-100px);
}

.odd {
  transform: translateX(100px);

}

.customCard img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.customCard .text {
  flex: 1;
  padding-top: 80px;
}

.big-button {
  text-decoration: none;
  background-color: #258cfb;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.big-button:hover {
  color: white;
  background-color: #1568c1;
}

.redBoxShadow {
  box-shadow: 0 0 10px 2px #FF3131;
}